@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Signika');
@import "tailwindcss";

@theme {
  --color-bone: #e3dac9;
  --font-family-garamond: 'EB Garamond', serif;
}

:root {
  font-family: 'EB Garamond', serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}